<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Uploading & Reading CSV file</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>
    <p style="color:blue;">Choose csv file to upload</p>
    <div style="">
        <form action="/show_data" target="_blank">
            <input type="submit" value="Show CSV" style="
            background-color: #FF0000;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
            transition: all 0.2s ease-in-out;
          " />
        </form>
        <form action="//print-plot" target="_blank">
            <input type="submit" value="Show Graph" style="
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
            transition: all 0.2s ease-in-out;
          " />
        </form>
    </div>
</body>

</html>