<!DOCTYPE html>
<html>

<head>
  <title>Uploading & Reading CSV file</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>

<body style="
      background-color: #f1f5f8;
      display: flex;
      flex-direction: column;   
      justify-content: center;
      align-items: center;
    ">
  <h1 style="
  font-weight: 400;
  color: grey;
  text-transform: uppercase;
  ">
    InfoTain - Model Analysis
  </h1>
  <div style="
        background-color: #f1f5f8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  ">
    <label for="name" style="
    font-weight: 500;
    margin-bottom: 16px;
    ">Enter Model Overview</label>
    <textarea style="width: 300px; height: 150px; border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;"
      id="textarea"></textarea>
  </div>
  <form method="POST" enctype="multipart/form-data" action="/">
    <input type="file" name="file" accept=".csv" />
    <input type="submit" value="Upload" style="
          background-color: green;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          transition: all 0.2s ease-in-out;
          margin-top: 20px;
        " />
  </form>
  <div style="
        background-color: #f1f5f8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      ">
    <p>Choose csv file to upload</p>
    <form action="/show_data" target="_blank">
      <input type="submit" value="Show CSV" style="
            background-color: #ee5253;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
          " />
    </form>
    <div>
      <button id="download-btn" style="
            background-color: #ee5253;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
            margin-top: 20px;
          ">Generate PDF</button>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
  const downloadBtn = document.getElementById('download-btn');
  const textarea = document.getElementById('textarea');

  downloadBtn.addEventListener('click', () => {
    // fetch('https://picsum.photos/200/300')
    fetch('http://127.0.0.1:5000/static/plot.png')
      .then(response => response.blob())
      .then(imageBlob => {
        const reader = new FileReader();
        reader.readAsDataURL(imageBlob);
        reader.onloadend = () => {
          const imageBase64 = reader.result;
          const doc = new jsPDF();
          doc.addImage(imageBase64, 'JPEG', 10, 10, 50, 50);
          doc.text(textarea.value, 10, 10);
          doc.save('model.pdf');
        };
      });
  });
</script>

</html>
